// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.invalid-feedback {
    display:block;
}

.nav-item {
    margin-right: 15px;
}

.med-cert {
    width:300px;
    display:block;
}
