// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.invalid-feedback {
    display:block;
}

.nav-item {
    margin-right: 15px;
}

.med-cert {
    width:300px;
    display:block;
    margin:auto;
}

.avatar {
    height: 150px;
    width: 150px;
    display: block;
    margin: auto;
}

.avatar:hover {
    cursor: pointer;
}

.img-holder {
    text-align: center;
}

.btn-avatar {
    background-color: white;
    border: none;
}

.avatar-uploader {
    display: none;
}
